<!--<div *ngIf="splashScreen" class='flex flex-column align-items-center justify-content-center w-full h-full'>
  <p-progressSpinner></p-progressSpinner>
  <div class='text-500 mt-5'>Carregando ...</div>
</div>-->
<!--<router-outlet></router-outlet>-->

<!--<div class='layout-wrapper'>
  <wp-topbar></wp-topbar>
	<wp-sidebar></wp-sidebar>
	<div class='layout-content'>
		<div class='layout-content-inner'>
			<iframe #iframe class='w-full h-full' [src]='iframeUrl'></iframe>
		</div>
	</div>
</div>-->